/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Roboto", sans-serif;
    --primary: #bfdbfe;
    --primary_variant: #93c5fd;
    --secondary: #ffffff;
    --secondary_variant: #ffffff;
    --background: #dbeafe;
    --typography: #000000;
    --dark_primary: #64748b;
    --dark_primary_variant: #334155;
    --dark_secondary: #1e293b;
    --dark_secondary_variant: #64748b;
    --dark_background: #0f172a;
    --dark_typography: #ffffff;
}